.card {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 1.5rem;
  border-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem;
  color: rgba(11, 10, 10, 0.947);
}
.card > img {
  display: inline;
  border-radius: 1rem;
  width: 13rem;
  height: 13rem;
  border-radius: 0.5rem;
}

.primary {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 5vh 15vh;
  width: 20rem;
  padding: 0 0.5rem;
}

.primary > span {
  margin-top: 00.5rem;
  grid-column: 1 / span 2; /* es como diz. quiero que el primary span hijo utilize las dos colunas. (masomenos eso)  */
}

.name {
  border: solid 2px transparent;
  background-color: transparent;
  padding: 0.25rem 3rem;

  border-radius: 9999px;
  font-weight: 700;

  color: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.specie {
  background-color: transparent;
  font-weight: 700;
  border-radius: 999px;
  color: rgb(12, 11, 11);
  padding: 0.25rem 5rem;
}
.gende {
  background-color: transparent;
  font-weight: 700;
  color: rgb(2, 8, 13);
  padding: 0.25rem 5rem;
  border-radius: 9999px;
}
.button {
  border: solid 2px transparent;
  border-radius: 9999px;
  width: 3rem;
  height: 2rem;
  padding: 5fr;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  transition: background-color 0.25s, color 0.35s;
  cursor: pointer;
  color: #0d0c0c;
}
/* .searchBar > input:placeholder {
  font-weight: 900;
  font-size: 4rem;
}*/

.button:hover {
  background-color: #ffffff60;
  color: #f8485e;
}
