.card {
  display: block;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 1.5rem;
  border-color: black;
  box-shadow: 0 0 20px rgb(86 82 82 / 80%);
  margin: 0.1em;
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 15rem;
  color: rgba(11, 10, 10, 0.947);
}
.card > img {
  display: inline;
  border-radius: 0.5rem;
  width: 14rem;
  height: 9.5rem;
  border-radius: 1rem;
}

.primary {
  display: block;
  border-style: solid;
  /* border-width: 1.5px;
  border-radius: 1.5rem;
  border-color: black; */
  border: solid 2px black;
  background-color: transparent;

  /* border-radius: 9999px; */
  font-weight: 700;

  display: flex;
}

.primary > span {
  margin-top: 00.5rem;
  grid-column: 1 / span 2; /* es como diz. quiero que el primary span hijo utilize las dos colunas. (masomenos eso)  */
}

.name {
  border: solid 2px transparent;
  background-color: transparent;
  padding: 0.2rem 0.3rem;

  border-radius: 9999px;
  font-weight: 700;

  color: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.specie {
  background-color: transparent;
  font-weight: 700;
  border-radius: 999px;
  color: rgb(12, 11, 11);
  padding: 0.2rem 0.3rem;
}
.gende {
  background-color: transparent;
  font-weight: 700;
  color: rgb(2, 8, 13);
  padding: 0.2rem 0.3rem;
  border-radius: 9999px;
}
.button {
  border: solid 2px transparent;
  border-radius: 9999px;
  width: 2rem;
  height: 1.5rem;
  padding: 5fr;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  transition: background-color 0.25s, color 0.35s;
  cursor: pointer;
  color: #0d0c0c;
}
/* .searchBar > input:placeholder {
  font-weight: 900;
  font-size: 4rem;
}*/

.button:hover {
  background-color: #ffffff60;
  color: #f8485e;
}
