.searchBar {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.input {
  background-color: transparent;
  border-radius: 1rem;
  color: #3b0606;
  font-size: 1rem;
  font-weight: 400;
  width: 14.4rem;
}
input:focus {
  outline: none;
}
.input::placeholder {
  color: rgba(5, 5, 5, 0.431);
}

.button {
  border: solid 2px transparent;
  border-radius: 9999px;
  width: 3rem;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  transition: background-color 0.25s;
  cursor: pointer;
  color: #141313;
}
/* .searchBar > input:placeholder {
  font-weight: 900;
  font-size: 4rem;
}*/

.button:hover {
  background-color: #ffffffbe;
}
