.app {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.container {
  width: 80vw;
  height: 92vh;
  margin: 5vh 8.5vw;

  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}

.app,
.container {
  background-image: url("./assets/lindo.jpg");
  /* background-image: url("./assets/photo.gif"); */
  /* background-image: url("./assets/imger.jpg"); */
  /*  background-image: url("./assets/Rick-Morty-8-cosas.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;

  position: absolute;
}

/** ANDES DE RENDERIZAR CICLO DE VIDA  */

.img {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: bluer(1pix);
  background-color: rgba(16, 14, 14, 0.311);
}
